# Individual Project 2  
---  
**Author:** Jacob Redmon  
**Version:** 1.0  
**Semester:** Spring 2021  
**Summary:**  

The goal of this project is to use some of the features/functions provided by the Python Pandas library

## 0. Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import datetime

import scipy.stats as stats

## 1. Pandas Functions

Read the file into a dataset named â€œdf".

In [2]:
#1
df = pd.read_csv('weather_2012.csv')

Display the first five rows of the dataset, the last five rows of the dataset and a sample of five random rows from the dataset.

In [3]:
#2
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [4]:
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [5]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
3252,2012-05-15 12:00:00,20.7,15.0,70,13,24.1,101.06,Mostly Cloudy
5480,2012-08-16 08:00:00,20.5,17.2,81,7,48.3,100.82,Mainly Clear
4640,2012-07-12 08:00:00,22.6,13.2,55,13,48.3,101.59,Mainly Clear
6480,2012-09-27 00:00:00,10.1,6.0,76,7,25.0,101.51,Mainly Clear
5471,2012-08-15 23:00:00,20.6,16.5,77,0,25.0,100.81,Mainly Clear

Display a list of all of the columns in the dataset.

In [6]:
#3
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

Rename the columns to be more usable.

In [7]:
df.columns = ['date_time', 'temp_c', 'dew_point', 'relative_humidity', 
              'wind_speed', 'visibility', 'pressure', 'weather']
df.columns

Index(['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed',
       'visibility', 'pressure', 'weather'],
      dtype='object')

Display some standard statistics for each column.

In [8]:
df.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

## 2. Adding Columns

Add a column named `temp_f` to the dataset that contains the temperature from `temp_c` represented in Fahrenheit. Rearrange the columns in the dataset so `temp_f` appears immediately before `temp_c`.

In [9]:
# 6, 7
def to_fahrenheit(x):
    x = x * 1.8 + 32
    return float(x)

In [10]:
df.insert(1, 'temp_f', df['temp_c'].apply(to_fahrenheit))

In [11]:
df.head(1)

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog

Display the data types of all the columns in the dataset.

In [12]:
# 8
df.dtypes

date_time             object
temp_f               float64
temp_c               float64
dew_point            float64
relative_humidity      int64
wind_speed             int64
visibility           float64
pressure             float64
weather               object
dtype: object

## 3. Monthly Average

Convert `date_time` to a date/time column. Verify the conversion was successful

In [13]:
# 9
df['date_time'] = pd.to_datetime(df['date_time'])

In [14]:
df.dtypes

date_time            datetime64[ns]
temp_f                      float64
temp_c                      float64
dew_point                   float64
relative_humidity             int64
wind_speed                    int64
visibility                  float64
pressure                    float64
weather                      object
dtype: object

Get the average temperature for each month and put it into a dataframe named `monthly_avg`.

In [15]:
# 10
dfa = df.copy()
monthly_avg_columns = dfa[['date_time', 'temp_f']]
monthly_avg = monthly_avg_columns.copy()
monthly_avg.index = monthly_avg['date_time']
monthly_avg = monthly_avg.resample('M').mean()
monthly_avg

               temp_f
date_time
2012-01-31  18.731290
2012-02-29  24.395000
2012-03-31  37.618226
2012-04-30  44.616750
2012-05-31  61.227984
2012-06-30  68.241250
2012-07-31  73.022097
2012-08-31  72.102742
2012-09-30  61.672000
2012-10-31  51.718952
2012-11-30  33.676500
2012-12-31  26.048629

Promote the index for monthly_avg to a column called `month`. This column will contain 1, 2, . . ., 11, 12. Reorder the `monthly_avg` columns so they appear `[â€˜monthâ€™, â€˜temp_fâ€™]`. Rename the `monthly_avg` index so that it has an empty name (e.g. when you list the dataframe it doesnâ€™t show an index name).

In [16]:
# 12, 13
month = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
monthly_avg.index = month
monthly_avg

       temp_f
1   18.731290
2   24.395000
3   37.618226
4   44.616750
5   61.227984
6   68.241250
7   73.022097
8   72.102742
9   61.672000
10  51.718952
11  33.676500
12  26.048629

Write the code to change each entry in the `monthly_avg.month` column so it shows the name of the month and instead of the number. You must do this by creating a function that accepts the month (number) and returns the month name which you call from a map/lambda expression.

In [17]:
month_dict = {
    1:  'January', 
    2:  'February', 
    3:  'March',
    4:  'April',
    5:  'May',
    6:  'June',
    7:  'July',
    8:  'August',
    9:  'September',
    10: 'October',
    11: 'November',
    12: 'December'
}

def month_to_name(month_num):
    return month_dict[month_num]

In [18]:
for i in monthly_avg.index:
    this_month_num = monthly_avg.index[i-1]
    month_name = month_to_name(this_month_num)
    monthly_avg.rename(index={this_month_num:month_name}, inplace=True)

In [19]:
monthly_avg

              temp_f
January    18.731290
February   24.395000
March      37.618226
April      44.616750
May        61.227984
June       68.241250
July       73.022097
August     72.102742
September  61.672000
October    51.718952
November   33.676500
December   26.048629

## 4. Hourly Average

Write the code to get the average temperature for each hour starting from 00:00:00 to 23:00:00.

In [20]:
# 15
dfb = df.copy()
hourly_avg_columns = dfa[['date_time', 'temp_f']]
hourly_avg = hourly_avg_columns.copy()
hourly_avg.index = hourly_avg['date_time']
hourly_avg.index = hourly_avg.index.hour
hourly_avg.index = pd.to_datetime(hourly_avg.index, format='%H')
hourly_avg = hourly_avg.resample('H').mean()
hourly_avg.index = hourly_avg.index.hour
hourly_avg

              temp_f
date_time
0          45.623443
1          44.762787
2          43.980820
3          43.325246
4          42.744426
5          42.291967
6          42.859508
7          43.831311
8          45.280656
9          46.987213
10         48.699672
11         50.193770
12         51.541803
13         52.508689
14         53.196721
15         53.391475
16         53.178033
17         52.297705
18         51.181311
19         50.041311
20         48.848197
21         47.851803
22         47.064918
23         46.397049

Write the code to rename the `hourly_avg` index to `Hour`.

In [21]:
# 16
hourly_avg.index.names = ['Hour']
hourly_avg.head(1)

         temp_f
Hour
0     45.623443

Write the code to change each entry in the `hourly_avg` index so it shows the name of the standard time (not military time). You must do this by creating a function that accepts the time (string) and returns the time in the format (12:00AM, 1:00AM, 2:00AM, . . . 10:00PM, 11:00PM) which you call from map/lambda expression

In [22]:
# 17
hour_dict = {
    0: '12:00AM',  1: '01:00AM',  2: '02:00AM',  3: '03:00AM',  4: '04:00AM',
    5: '05:00AM',  6: '06:00AM',  7: '07:00AM',  8: '08:00AM',  9: '09:00AM',
    10: '10:00AM', 11: '11:00AM', 12: '12:00PM', 13: '01:00PM',
    14: '02:00PM', 15: '03:00PM', 16: '04:00PM', 17: '05:00PM',
    18: '06:00PM', 19: '07:00PM', 20: '08:00PM', 21: '09:00PM',
    22: '10:00PM', 23: '11:00PM',
}

def hour_to_name(hour_num):
    return hour_dict[hour_num]

In [23]:
for i in hourly_avg.index:
    this_hour_num = hourly_avg.index[i]
    hour_name = hour_to_name(this_hour_num)
    hourly_avg.rename(index={this_hour_num:hour_name}, inplace=True)

In [24]:
hourly_avg

            temp_f
Hour
12:00AM  45.623443
01:00AM  44.762787
02:00AM  43.980820
03:00AM  43.325246
04:00AM  42.744426
05:00AM  42.291967
06:00AM  42.859508
07:00AM  43.831311
08:00AM  45.280656
09:00AM  46.987213
10:00AM  48.699672
11:00AM  50.193770
12:00PM  51.541803
01:00PM  52.508689
02:00PM  53.196721
03:00PM  53.391475
04:00PM  53.178033
05:00PM  52.297705
06:00PM  51.181311
07:00PM  50.041311
08:00PM  48.848197
09:00PM  47.851803
10:00PM  47.064918
11:00PM  46.397049

## 5. Weather Count

In [25]:
# 18
df.weather.groupby(df.weather).count()

weather
Clear                                      1326
Cloudy                                     1728
Drizzle                                      41
Drizzle,Fog                                  80
Drizzle,Ice Pellets,Fog                       1
Drizzle,Snow                                  2
Drizzle,Snow,Fog                             15
Fog                                         150
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Freezing Drizzle,Haze                         3
Freezing Drizzle,Snow                        11
Freezing Fog                                  4
Freezing Rain                                14
Freezing Rain,Fog                             4
Freezing Rain,Haze                            2
Freezing Rain,Ice Pellets,Fog                 1
Freezing Rain,Snow Grains                     1
Haze                                         16
Mainly Clear                               2106
Moderate Rain,Fog                             1
Moderate Snow                                 4
Moderate Snow,Blowing Snow                    2
Mostly Cloudy                              2069
Rain                                        306
Rain Showers                                188
Rain Showers,Fog                              1
Rain Showers,Snow Showers                     2
Rain,Fog                                    116
Rain,Haze                                     3
Rain,Ice Pellets                              1
Rain,Snow                                    18
Rain,Snow Grains                              1
Rain,Snow,Fog                                 1
Rain,Snow,Ice Pellets                         4
Snow                                        390
Snow Pellets                                  1
Snow Showers                                 60
Snow Showers,Fog                              4
Snow,Blowing Snow                            19
Snow,Fog                                     37
Snow,Haze                                     5
Snow,Ice Pellets                              6
Thunderstorms                                 2
Thunderstorms,Heavy Rain Showers              1
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers                   16
Thunderstorms,Rain Showers,Fog                3
Thunderstorms,Rain,Fog                        1
Name: weather, dtype: int64

In [26]:
# 19
weather_types = set()
df.weather.str.split(pat=",").apply(weather_types.update)
# 20
print(sorted(weather_types))

['Blowing Snow', 'Clear', 'Cloudy', 'Drizzle', 'Fog', 'Freezing Drizzle', 'Freezing Fog', 'Freezing Rain', 'Haze', 'Heavy Rain Showers', 'Ice Pellets', 'Mainly Clear', 'Moderate Rain', 'Moderate Rain Showers', 'Moderate Snow', 'Mostly Cloudy', 'Rain', 'Rain Showers', 'Snow', 'Snow Grains', 'Snow Pellets', 'Snow Showers', 'Thunderstorms']

## 6. Wrapping Up

Rename the columns with their original names. Donâ€™t forget, you added a column for Fahrenheit, so that will need to be included in the new column names.

In [27]:
# 21
df.columns = ['Date/Time', 'Temp (F)', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)', 
 'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather']
df.columns

Index(['Date/Time', 'Temp (F)', 'Temp (C)', 'Dew Point Temp (C)',
       'Rel Hum (%)', 'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)',
       'Weather'],
      dtype='object')

In [28]:
df.head(1)

,Date/Time,Temp (F),Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog

Save your dataset to `weather_2012_new.csv` â€“ ensure your file does not contain the index column of the dataset.

In [29]:
#22
df.to_csv('weather_2012_new.csv', index=False)

Save the `monthly_avg` and `hourly_avg` datasets.

In [30]:
#23
monthly_avg.to_csv('monthly_avg.csv')
hourly_avg.to_csv('hourly_avg.csv')