# Individual Project 2  
---  
**Author:** Jacob Redmon  
**Version:** 1.0  
**Semester:** Spring 2021  
**Summary:**  

The goal of this project is to use some of the features/functions provided by the Python Pandas library

## 0. Imports

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import datetime

import scipy.stats as stats

## 1. `¯\\_(ツ)_/¯`

In [34]:
df = pd.read_csv('weather_2012.csv')

In [35]:
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [36]:
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [37]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
5239,2012-08-06 07:00:00,19.0,14.0,73,17,48.3,101.06,Mainly Clear
5680,2012-08-24 16:00:00,27.9,13.3,41,11,48.3,101.68,Mainly Clear
4259,2012-06-26 11:00:00,17.6,10.8,64,11,24.1,100.12,Cloudy
1421,2012-02-29 05:00:00,-13.1,-16.0,79,0,25.0,102.40,Clear
3852,2012-06-09 12:00:00,22.2,9.2,43,17,48.3,100.73,Cloudy

In [38]:
df.columns
#['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)', 'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],dtype='object'

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [39]:
df.columns = ['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed', 'visibility', 'pressure', 'weather']
df.columns

Index(['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed',
       'visibility', 'pressure', 'weather'],
      dtype='object')

In [40]:
df.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [41]:
def to_fahrenheit(x):
    x = x * 1.8 + 32
    return float(x)

In [42]:
df.insert(1, 'temp_f', df['temp_c'].apply(to_fahrenheit))

In [43]:
df.head()

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog

In [44]:
df.dtypes

date_time             object
temp_f               float64
temp_c               float64
dew_point            float64
relative_humidity      int64
wind_speed             int64
visibility           float64
pressure             float64
weather               object
dtype: object

## Date Manipulation

In [45]:
df['date_time'] = pd.to_datetime(df['date_time'])

In [48]:
df.dtypes

date_time            datetime64[ns]
temp_f                      float64
temp_c                      float64
dew_point                   float64
relative_humidity             int64
wind_speed                    int64
visibility                  float64
pressure                    float64
weather                      object
dtype: object

In [64]:
dfa = df.copy()
monthly_avg_columns = dfa[['date_time', 'temp_f']]
monthly_avg = monthly_avg_columns.copy()
monthly_avg.index = monthly_avg['date_time']
monthly_avg = monthly_avg.resample('M').mean()
monthly_avg

               temp_f
date_time
2012-01-31  18.731290
2012-02-29  24.395000
2012-03-31  37.618226
2012-04-30  44.616750
2012-05-31  61.227984
2012-06-30  68.241250
2012-07-31  73.022097
2012-08-31  72.102742
2012-09-30  61.672000
2012-10-31  51.718952
2012-11-30  33.676500
2012-12-31  26.048629

In [65]:
month = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
monthly_avg.index = month
monthly_avg

       temp_f
1   18.731290
2   24.395000
3   37.618226
4   44.616750
5   61.227984
6   68.241250
7   73.022097
8   72.102742
9   61.672000
10  51.718952
11  33.676500
12  26.048629

In [96]:
month_dict = {
    1:  'January', 
    2:  'February', 
    3:  'March',
    4:  'April',
    5:  'May',
    6:  'June',
    7:  'July',
    8:  'August',
    9:  'September',
    10: 'October',
    11: 'November',
    12: 'December'
}

def month_to_name(month_num):
    return month_dict[month_num]

for i in monthly_avg.index:
    this_month_num = monthly_avg.index[i-1]
    month_name = month_to_name(monthly_avg.index[i-1])
    
    monthly_avg['index'].replace(this_month_num, month_name)
    print(month_to_name(this_month_num))
    
monthly_avg

KeyError: 'index'